<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/create_style.css">
  <title>노트 작성</title>
</head>
<body>
  <h2>새 노트 작성</h2>
  <form method="POST" action="/notes" enctype="multipart/form-data">
    <p>제목: <input type="text" name="title" required /></p>
    <p>내용: <textarea name="summary" placeholder="요약" required></textarea></p>
    <p>이수 구분:
      <select name="category">
        <% categories.forEach(c => { %>
          <option value="<%= c.name %>"><%= c.name %></option>
        <% }) %>
      </select>
    </p>
    <p>과목:
      <select name="subject">
        <% subjects.forEach(s => { %>
          <option value="<%= s.name %>"><%= s.name %></option>
        <% }) %>
      </select>
    </p>
    <p>학년:
      <select name="year">
        <% years.forEach(y => { %>
          <option value="<%= y.name %>"><%= y.name %></option>
        <% }) %>
      </select>
    </p>
    <p>학기:
      <select name="semester">
        <% semesters.forEach(sm => { %>
          <option value="<%= sm.name %>"><%= sm.name %></option>
        <% }) %>
      </select>
    </p>
    <p>교수명: <br>
      <input name="professor" placeholder="교수명"/>
    </p>
    <p>파일 업로드: <br>
      <span class="sex">(pdf, jpg, png, pptx)</span> <br>
      <input type="file" id="file" name="file" accept=".jpg,.png,.pdf,.pptx" required>
    </p>

    <button type="submit">작성 완료</button>
  </form>
  
  <a href="/notes">목록으로 돌아가기</a>
</body>
</html>